<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813712993925-mmv0qqfeum7207ma5a630odlm7sav8l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813712993925-mmv0qqfeum7207ma5a630odlm7sav8l6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813712993925-3u7khveoik02og6ntbi1vbitmjcgq8tu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-5QaRt-79JdDbcPgQMjJWjm_gwHLeraI</string>
	<key>GCM_SENDER_ID</key>
	<string>813712993925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saka.touristGuide</string>
	<key>PROJECT_ID</key>
	<string>tour-guide-56e71</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-guide-56e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813712993925:ios:86980ac2ed1e8a0d0743ec</string>
	<key>DATABASE_URL</key>
	<string>https://tour-guide-56e71.firebaseio.com</string>
</dict>
</plist>